{:paths ["src" "resources"]
 :deps
 {com.github.GAumala/SRI {:git/sha "27923bf74a59c37154061ad9c3183d1e09828ee2"}
  com.h2database/h2 {:mvn/version "1.4.199"}
  compojure/compojure {:mvn/version "1.7.0"}
  http-kit/http-kit {:mvn/version "2.3.0"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  ring/ring-json {:mvn/version "0.5.0"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.955"}}
 :aliases
 {:test 
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                nubank/matcher-combinators {:mvn/version "3.9.1"}
                tortue/spy {:mvn/version "2.15.0"}}
   :main-opts ["-m" "kaocha.runner"]}
  :codox
  {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
   :exec-fn codox.main/generate-docs
   :exec-args {:source-paths ["src"]
               :namespaces [com.gaumala.felec
                            com.gaumala.felec.db.h2]
               :output-path "docs"
               :source-uri "https://github.com/GAumala/felec/{filepath}#L{line}"}}
  :uberdeps 
  {:extra-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
   :main-opts ["-m" "uberdeps.uberjar"]}}}
